/* Minimal changes to the design by @julienjacques */

.hide {
    display: none;
}

.projects-4 {
	padding: 0px;
}

.page-header {
	margin-top: -65px;
}

.card-footer .icon {
	padding-top: 5px;
}

.card-footer .icon span {
	margin-left: 5px;
}

.card-plain .col-md-8 {
	margin-top: -10px;
}

h2 .red {
	color: #FF3636;
}

.btn-centre {
    display: flex;
    margin:0 auto;
}